volumes:
  {{ db_volume }}:
  {{ minio_volume }}:
  {{ grafana_volume }}:
  {{ prometheus_volume }}:

networks:
  {{ docker_network_name }}:
    external: true
  internal_network:
    name: trackntrain_internal_preprod
    driver: bridge 

services:

  postgres:
    image: postgres:17
    container_name: {{ postgres_container }}
    restart: always
    ports:
      - "{{ postgres_external_port }}:5432"
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - {{ db_volume }}:/var/lib/postgresql/data
    networks:
      - internal_network 

  minio:
    image: minio/minio:latest
    container_name: {{ minio_container }}
    restart: unless-stopped
    expose:
      - "9000"
      - "9001"
    environment:
      MINIO_ROOT_USER: "${MINIO_ROOT_USER}"
      MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD}"
      MINIO_BROWSER_REDIRECT_URL: "${MINIO_BROWSER_REDIRECT_URL}"
    command: server /data --console-address ":9001"
    volumes:
      - {{ minio_volume }}:/data
    labels:
      - "traefik.enable=true"
      # Console MinIO (UI)
      - "traefik.http.routers.minio-console.rule=Host(`{{ domain_minio }}`)"
      - "traefik.http.routers.minio-console.entrypoints=websecure"
      - "traefik.http.routers.minio-console.tls.certresolver=letsencrypt"
      - "traefik.http.routers.minio-console.service=minio-console"
      - "traefik.http.services.minio-console.loadbalancer.server.port=9001"
      # API MinIO
      - "traefik.http.routers.minio-api.rule=Host(`{{ domain_minio }}`) && PathPrefix(`/`)"
      - "traefik.http.routers.minio-api.entrypoints=websecure"
      - "traefik.http.routers.minio-api.tls.certresolver=letsencrypt"
      - "traefik.http.routers.minio-api.service=minio-api"
      - "traefik.http.services.minio-api.loadbalancer.server.port=9000"
    networks:
      - {{ docker_network_name }}

  api:
    image: {{ api_image }}
    container_name: {{ api_container }}
    restart: unless-stopped
    expose:
      - "8000"
    depends_on:
      - postgres
      - minio
    environment:
      ENV: "${APP_ENV}"
      SECRET_KEY: "${SECRET_KEY}"
      ACCESS_TOKEN_EXPIRE_MINUTES: "${ACCESS_TOKEN_EXPIRE_MINUTES}"
      DATABASE_URL: "${DATABASE_URL}"
      MINIO_ACCESS_KEY: "${MINIO_ROOT_USER}"
      MINIO_SECRET_KEY: "${MINIO_ROOT_PASSWORD}"
      MINIO_ENDPOINT: "${MINIO_ENDPOINT}"
      MINIO_PUBLIC_URL: "${MINIO_PUBLIC_URL}"
      MINIO_BUCKET_PP: "${MINIO_BUCKET_PP}"
      MINIO_BUCKET_USERS: "${MINIO_BUCKET_USERS}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`{{ domain_api }}`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls.certresolver=letsencrypt"
      - "traefik.http.services.api.loadbalancer.server.port=8000"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - {{ docker_network_name }}
      - internal_network 

  front:
    image: {{ front_image }}
    container_name: {{ front_container }}
    restart: unless-stopped
    expose:
      - "80"
    depends_on:
      - api
    environment:
      VITE_APP_API_URL: "${VITE_APP_API_URL}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.front.rule=Host(`{{ domain_front }}`)"
      - "traefik.http.routers.front.entrypoints=websecure"
      - "traefik.http.routers.front.tls.certresolver=letsencrypt"
      - "traefik.http.services.front.loadbalancer.server.port=80"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - {{ docker_network_name }}